doctype html
html(lang='ru')
	head
		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		title Document
		link(rel='stylesheet', href='css/libs.min.css')
		link(rel='stylesheet', href='css/main.css')
	body
		nav.navbar.navbar-default.navbar-fixed-top( role="navigation" )
			.navbar-header
				button.navbar-toggle.collapsed( type="button", data-toggle="collapse", data-target="#navbar-inverse", aria-expanded="false", aria-controls="navbar")
					span.sr-only Toggle navigation
					span.icon-bar
					span.icon-bar
					span.icon-bar
			#navbar-inverse.collapse.navbar-collapse
				ul.nav.navbar-nav
					li: a( href="#onas") О нас
					li: a( href="#uslugi" ) Услуги и цены
					li: a( href="#portfolio" ) Портфолио
					li: a( href="#kontakty" ) Контакты
		section.onas
			.container
				a(id='onas')
					h2 О нас
						br
						i.fa.fa-chevron-down(aria-hidden='true')
			.parallax-window
				.container
					p.
						Мы молодая группа профессиональных дизайнеров и программистов в области веб-технологий. Являемся энтузиастами своего дела. Работы выполняем не позже оговоренных сроков. Качество и изящность - кредо нашего коллектива. А цены за наши услуги Вас приятно удивят и порадуют...
		section.uslugi
			.container
				a(id='uslugi')
					h2 Услуги и цены
						br
						i.fa.fa-chevron-down(aria-hidden='true')
			.parallax-window
				.container
					table.table
						tr
							td.
								Создать сайт визитку
							td.
								От 2 000 р.
						tr
							td.
								Создать Landing Page
							td.
								От 5 000 р.
						tr
							td.
								Создать Интернет магазин
							td.
								От 10 000 р.
						tr
							td.
								Сео-оптимизация контента (разово)
							td.
								От 5 000 р.
						tr
							td.
								Рекламная компания (продвижение)
							td.
								От 5 000 р. / мес.
		section.portfolio
			.container
				a(id='portfolio')
					h2 Портфолио
						br
						i.fa.fa-chevron-down(aria-hidden='true')
			.fon
				.box
					.fotorama(data-width='100%', data-nav='false', data-ratio="800/470" data-loop='true')
						div.slide
							.row
								.col-xs-6
									img(src='img/portfolio/1.jpg')
								.col-xs-6
									img(src='img/portfolio/2.jpg')
								.col-xs-6
									img(src='img/portfolio/3.jpg')
								.col-xs-6
									img(src='img/portfolio/4.jpg')
						div.slide
							.row
								.col-xs-6
									img(src='img/portfolio/5.jpg')
								.col-xs-6
									img(src='img/portfolio/6.jpg')
		section.kontakty
			.container
				a(id='kontakty')
					h2 Контакты
						br
						i.fa.fa-chevron-down(aria-hidden='true')
			.parallax-window
				.container
					h3 Обратная связь
					form
						input(type='text', placeholder='Имя')
						br
						input(type='email', placeholder='Почта')
						br
						input(type='text', placeholder='Телефон')
						br
						textarea(placeholder='Сообщение')
						br
						input(type='submit', value='Отправить')
					.adres-phone
						p.
							Телефоны:<br>
							8-977-333-55-30<br>
							8-977-333-55-25
						p.
							Почта:<br>
							mail@color-space.ru
						p.
							Skype:<br>
							color-space
						p.
							Адрес:<br>
							г. Москва, ул. Савельева, д. 7
					.karta
						iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2245.37294994423!2d37.61531071560142!3d55.75202328055311!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b54a50b315e573%3A0xa886bf5a3d9b2e68!2z0JzQvtGB0LrQvtCy0YHQutC40Lkg0JrRgNC10LzQu9GM!5e0!3m2!1sru!2sru!4v1496798764112', width='100%', height='300', frameborder='0', style='border:0', allowfullscreen)
		footer
			p
				i.fa.fa-copyright(aria-hidden='true')
				|	Все права защищены





		script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
		script(src='js/libs.min.js')
		script(src='js/common.js')