@import "vars"

/*==========  Header_css  ==========*/
nav.navbar
	background: #00003D
	border: none
	.navbar-collapse
		ul.nav.navbar-nav
			text-align: center
			float: none
			li
				float: none
				display: inline-block
				a
					color: #fff
					text-transform: uppercase
					font-weight: 200